.FilterDiv{
  direction: ltr;
  margin-left: 500px;
  margin-top: 15px;
}
.CompletedButton{
  background-color: #A4EA6A;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  border-radius: 5px;
  margin-left: 50px;
}
.UncompletedButton{
  background-color: #ec971f;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  border-radius: 5px;
  margin-left: 5px;
}
